<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Functional JavaScript Programming | Luis Atencio</title>

    <script src="../lib/jquery.js"></script>
    <script src="../lib/lodash.js"></script>
    <script src="../lib/stream-min.js"></script>
    <script src="../lib/common.js"></script>
    <script src="../lib/log4js.js"></script>
    <script src="../lib/ramda.js"></script>
    <script src="../lib/maybe.js"></script>
    <script src="../lib/id.js"></script>
    <script src="../lib/either.js"></script>
    <style>
        span {
            font-family: "Verdana", Times, sans-serif;
        }
        td {
            font-family: "Verdana", Times, sans-serif;
        }
        table, thead {
            border: 1px solid black;
        }
        #header td{
            border: 1px solid black;
        }
        td {
            padding: 15px;
        }
        table, td, th {
            border: 1px solid darkgray;
        }

        #header td {
            background-color: lightgray;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <h2><span id="banner">Student Roster:</span></h2>
        <table id="studentRoster">
            <thead>
                <tr id="header"><td>SSN</td><td>First Name</td><td>Last Name</td></tr>
            </thead>
        </table>
    </div>
<script>
    $(document).ready(function () {

        // Mock DB service
        // Mock out a synchronous Student Store
        var Store = function(index) {

            var students = {
                '444444444': new Student('Alonzo', 'Church').setSsn('444-44-4444'),
                '555555555': new Student('Alan', 'Turing').setSsn('555-55-5555')
            };

            return {
                getRecord: function(id) {
                    if(index === 'students') {
                        return students[id];
                    }
                }
            };
        };

        // safefetchRecord :: Store, string -> Either<Student>
        var safefetchRecord = R.curry(function (store, studentId) {
            var student = store.getRecord(studentId);
            if(student) {
                return Either.of(student);
            }
            return Either.Left('Student not found with ID: ' + studentId);
        });

        var toRowInfo = function (student) {
            var template =  _.template('<td><%= ssn %></td><td><%= firstname %> <%= lastname %></td> ');
            return template(student);
        };


        var addToTable = R.curry(function (elementId, rowInfo) {
            $('#' + elementId + ' tr:last').after('<tr>' + rowInfo + '</tr>');
            return $('#' + elementId + ' tr').length - 1; // exclude header
        });


        var debugLog = _.partial(logger, 'console', 'basic', 'Monad Example', 'TRACE');
        var errorLog = _.partial(logger, 'console', 'basic', 'Monad Example', 'ERROR');
        var trace = R.curry(function (msg, obj) {debugLog(msg + ':' + obj);});

        var trim = function (str) {
            return str.replace(/^\s*|\s*$/g, '');
        };

        var normalize = function (str) {
            return str.replace(/\-/g, '');
        };

        var validLength = function(len, str) {
            if(str.length === len) {
                return Either.of(str);
            }
            return Either.Left('Input: ' + str + ' length does is not equal to: ' + len);
        };

        var cleanInput = R.compose(R.tap(trace), normalize, R.tap(trace), trim);

        var checkLengthSsn = validLength.bind(undefined, 9);

        var map = R.curry(function (f, container) {
            return container.map(f);
        });

        var chain = R.curry(function (f, container) {
            return container.chain(f);
        });

        var lift = R.curry(function (f, value) {
            return Maybe.fromNullable(value).map(f);
        });

        // Alternate implementation
//        var addtoRoster2 = R.compose(
//                R.tap(trace('Students added to roster')),
//                map(addToTable('studentRoster')),
//                R.tap(trace('Student converted to row')),
//                map(toRowInfo),
//                R.tap(trace('Record fetched successfully!')),
//                chain(safefetchRecord (Store('students'))),
//                R.tap(trace('Input was valid')),
//                chain(checkLengthSsn),
//                lift(cleanInput));


        function addToRoster(studentId) {
            return Maybe.fromNullable(studentId)
                    .map  (cleanInput)
                    .chain(checkLengthSsn)
                    .chain(safefetchRecord (Store('students')))
                    .map  (toRowInfo)
                    .map  (addToTable('studentRoster'));
        }

        var studentId = '444-44-4444';
        var result = addToRoster(studentId).getOrElse(0);
    });
</script>
</body>
</html>