<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Functional JavaScript Programming | Luis Atencio</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="../lib/require.js"></script>
    <script src="../lib/common.js"></script>
    <script src="app.js"></script>
    <script src="db.js"></script>
    <script>
        requirejs.config({
            baseUrl: '../lib'
        });
    </script>
</head>
<body>
    <div ng-app="StudentAdminConsole">
        <table id="student-form">
            <form ng-controller="StudentCreateCtrl" ng-submit="saveStudent()">
                <tr>
                    <td>
                        <label>Student ID:</label>
                    </td>
                    <td>
                        <input type="text" ng-model="form.id">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Student First Name:</label>
                    </td>
                    <td>
                        <input type="text" ng-model="form.firstname">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Student Last Name:</label>
                    </td>
                    <td>
                        <input type="text" ng-model="form.lastname">
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" ngClick="Submit"></td>
                </tr>
            </form>
        </table>

        <h1>Finding user for ID: {{form.id}}</h1>
    </div>
</body>
</html>