<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Functional JavaScript Programming | Luis Atencio</title>
    <style>
        span {
            font-family: "Verdana", Times, sans-serif;
        }
        td {
            font-family: "Verdana", Times, sans-serif;
        }
        table, thead {
            border: 1px solid black;
        }
        #header td{
            border: 1px solid black;
        }
        td {
            padding: 15px;
        }
        table, td, th {
            border: 1px solid darkgray;
        }

        #header td {
            background-color: lightgray;
            color: white;
        }
    </style>
</head>
<body>

<!-- Source -->
<!-- Dependencies -->
<script src="../lib/lodash.js"></script>
<script src="../lib/common.js"></script>
<script src="../lib/ramda.js"></script>
<script src="../lib/jquery.js"></script>
<script src="../lib/maybe.js"></script>
<script src="../lib/id.js"></script>
<script src="../lib/either.js"></script>
<script src="../lib/io.js"></script>
<script src="../lib/memo.js"></script>
<script src="../lib/log4js.js"></script>
<script src="db.js"></script>


<table id="studentRoster">
    <thead>
        <tr id="header">
            <td id="ssn">SSN</td>
            <td id="firstname">First Name</td>
            <td id="lastname">Last Name</td></tr>
    </thead>
</table>

<script>
    open().then(function (db) {
        addStudent(db, 'Haskell', 'Curry', '444444444').then(function (db) {

            //========================================================//

            var map = R.curry(function (f, container) {
                return container.map(f);
            });

            var then = R.curry(function (f, thenable) {
                return thenable.then(f);
            });

            var catchP = R.curry(function (f, promise) {
                return promise.catch(f);
            });

            var chain = R.curry(function (f, container) {
                return container.chain(f);
            });

            var lift = R.curry(function (f, value) {
                return Maybe.fromNullable(value).map(f);
            });

            var liftIO = function (value) {
                return IO.of(value);
            };

            var appendToTable = function (elementId) {
                return function (row) {
                    $('#' + elementId + ' tr:last').after(row);
                    return $('#' + elementId + ' tr').length - 1; // exclude header
                };
            };

            var debugLog = _.partial(logger, 'console', 'basic', 'IO Monad Example', 'TRACE');
            var errorLog = _.partial(logger, 'console', 'basic', 'IO Monad Example', 'ERROR');

            var trace = R.curry(function (msg, obj) {debugLog(msg + ':' + obj);});

            var trim = function (str) {
                return str.replace(/^\s*|\s*$/g, '');
            };

            var normalize = function (str) {
                return str.replace(/\-/g, '');
            };

            var m_normalize = normalize.memoize();
            var m_trim = trim.memoize();

            var cleanInput = R.compose(R.tap(trace), m_normalize, R.tap(trace), m_trim);
            var m_cleanInput = cleanInput.memoize();

            var populateRow = function (columns) {
                var cell_t = _.template('<td><%= a %></td>');
                var row_t  = _.template('<tr><%= a %></tr>');
                var obj = function(a) {
                    return {'a': a};
                };
                var row = R.compose(row_t, obj, R.join(''), R.map(cell_t), R.map(obj));
                return row(columns);
            };


            // fetchStudentHttp :: DB , String -> Promise
            var fetchStudentDBAsync = R.curry(function (db, studentId) {
                return find(db, studentId);
            });

            var validLength = function(len, str) {
                return str.length === len;
            };
            var m_validLength9 = validLength.bind(undefined, 9).memoize();

            var checkLengthSsn = function (str) {
                return Either.of(str).filter(m_validLength9)
                        .getOrElseThrow('Input: ' + str + ' is not a valid SSN number');
            };

            var findStudentAsync = fetchStudentDBAsync(db);

            var m_checkLengthSsn = checkLengthSsn.memoize();


            // insert functional program here
            // Alternate implementation
            var addToRoster = R.compose(
                    catchP(errorLog),
                    then(appendToTable('studentRoster')),
                    then(populateRow),
                    then(R.props(['ssn', 'firstname', 'lastname'])),
                    chain(findStudentAsync),
                    map(m_checkLengthSsn),
                    lift(m_cleanInput));

            addToRoster('444-44-4444');

            //========================================================//

            getAllStudents(db).then(function (data) {
                data['data'].forEach(function (student) {
                    deleteStudent(data['db'], student.ssn).then(function (outcome) {
                        if(outcome) {
                            alert('student added and deleted');
                        }
                    });
                })
            });
        });
    });
</script>

</body>
</html>